<div class="posts-wrapper row">
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post-head">
          <div class="name">
             Taller Pioneras
          </div>
        </div>

        <div class="image center-block">
          <%= image_tag(post.picture_url, :class => "img-responsive") if post.picture.present? %>
        </div>
        <p class="caption"> <%= post.caption %> </p>

        <% post.comments.each do |comment| %> <span class="text-muted">
              <%= comment.created_at.to_formatted_s(:short) if comment.created_at.present? %>
            </span> | <%= comment.content %>
            <br>
          <% end %>

          <div class="form-wrapper">
            <%= form_for([post, post.comments.build]) do |f| %>
               <%= f.text_area :content, cols: 70 %>
               <%= f.submit 'comment' %>
            <% end %>
          </div>

        <div class="text-center edit-links">
          <%= link_to 'Edit', edit_post_path(post) %>
          |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>

    <% end %>
</div>

<%= link_to 'New Post', new_post_path %>
