<!DOCTYPE html>
<html>
  <head>
    <title>Imagram</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Imagram</a>
        </div>
        <div id="bs-navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Posts", posts_path %></li>
            <li><%= link_to "New Post", new_post_path %></li>
          </ul>
        </div>
      </div>
    </nav>
    <br/>
    
    <div class="container">
      <br/>
      <%= yield %>
    </div>

    <footer>
      <div class="container">
        <p>Imagram - Barranquilla 2018</p>
      </div>
    </footer>
  </body>
</html>
